<h2 id="-">更多参考阅读</h2>
<p>这里有更多资料，作者整理的用于理解项目的来源和实践</p>
<p><a href="http://weblogs.asp.net/dwahlin/archive/2013/05/22/dynamically-loading-controllers-and-views-with-angularjs-and-requirejs.aspx">Dynamically Loading Controllers and Views with AngularJS and RequireJS by Dan Wahlin</a></p>
<p><a href="http://solutionoptimist.com/2013/09/30/requirejs-angularjs-dependency-injection/">Dependency Injection using RequireJS &amp; AngularJS by Thomas Burleson</a></p>
<p><a href="http://stackoverflow.com/questions/19134023/lazy-loading-angularjs-modules-with-requirejs">http://stackoverflow.com/questions/19134023/lazy-loading-angularjs-modules-with-requirejs</a></p>
<p><a href="https://github.com/nikospara/angular-require-lazy">angular-require-lazy by Nikos Paraskevopoulos</a></p>
