<h2 id="-">种子使用</h2>
<p>AngularAMD官方提供了一个种子<a href="https://github.com/marcoslin/angularAMD-sample">案例</a>,你也可以直接使用
<a href="https://github.com/Vanthink-UED/AngularAMD-Tutorial">中文案例</a></p>
<p><a href="http://marcoslin.github.io/angularAMD/#/home">在线文档</a>便是是基于<code>AngularAMD-Seed</code>构建。</p>
<p>中文案例继承了对<code>less</code>和<code>js压缩</code>的支持,你可以自己修改<code>gulpfile.js</code>;</p>
<h3 id="-">使用</h3>
<pre><code class="lang-bash">git clone  https://github.com/Vanthink-UED/AngularAMD-Tutorial

npm install

gulp
</code></pre>
<p>访问 <a href="http://localhost:8360/#/home">http://localhost:8360/#/home</a></p>
<p><a href="#more-doc">下一章:更多阅读</a> </p>
