<div class="m-select-your-testbank  {{ setClass }}">
    <div class="main-control">
        <ul class="main-item-list">
            <li ng-repeat="page in detailsList">
               {{ $index + 1}}
            </li>  
        </ul>
        
        <button type="button" ng-click="finishEvent()" class="btn btn-primary fui-check"> 完成</button>
        <button type="button" ng-click="hide()" class="btn btn-cancel fui-cross"> 取消</button>
    </div>
    <div class="testbank-list">
        <h4>我的题目</h4>
        <div class="m-form">
            <div class="btn-group">
                    <input type="text" ng-model="query"  placeholder="出题名称" class="text js-query-words" style="width:170px;" />
                    <button class="btn btn-primary js-search" ng-click="searchTestbankEvent()"><span class="fui-search"></span></button>
            </div>
            <div class="form-element">
                <label>
                    <input type="checkbox" class="js-query-type" value="1" />
                    <span class="label">我的题目</span>
                </label>
            </div>
        </div>
        <ul class="list">
            <li dir-paginate="item in list | itemsPerPage: 10" total-items="totalCount" current-page="pageno" ng-click="seleteItem($event)">
                <a ng-click="getDetailsEvent($event)">{{ item.testbank_name }}</a>
            </li>
            <li ng-show="list.length==0 && loaded">暂无内容</li>
            <li ng-show="list.length==0 && !loaded">
                 <img src="http://img1.vued.vanthink.cn/vuedcca37dabcb5bc724cb7418658e526a1e.gif"/> 数据加载中... 
            </li>
        </ul>       
        <dir-pagination-controls boundary-links="true" ng-hide="list.length==0" on-page-change="pageChange(newPageNumber)"></dir-pagination-controls> 
    </div>
    <div class="testbank-details">
        <table class="m-table">
                <thead>
                    <tr>
                        <th width="90">
                            <label>
                                 <input type="checkbox" class="js-select-all" ng-checked="selectedList.length==list2.length" ng-click="selectAllEvent($event)" value="" />
                                 全选
                            </label> 
                        </th>
                        <th width="130">单词</th>
                        <th>提示</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in list2" ng-click="selectItemEvent($index,$event)">
                        <td> 
                            <input type="checkbox"  class="js-select-item" value="{{ item['ubint64_no'] }}" />
                            <div class="hidden-check"></div>
                        </td>
                        <td>
                            <span class="input-group">{{ item['vchar64_word'] }}</span>
                        </td>  
                        <td>
                            <span class="input-group">
                                {{ item['vchar64_prompt'] }}
                            </span>
                        </td>  
                    </tr>
                    <tr ng-show="list2.length==0">
                        <td colspan="3">暂无题目详情</td> 
                    </tr>
                </tbody>
            </table>   
 
    </div>
</div>